body,h1,h2,h3,h4,h5 
{
    font-family: "Raleway", sans-serif
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
#LikeButton {
        display: none;
}

.checker {
    background-image: url(BlogEintraege/ImagesSmall/Like.png);
    background-size: auto 100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

#LikeButton:checked + .checker {
    background-image: url(BlogEintraege/ImagesSmall/LikeBlue.png);
    background-size: auto 100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}